{% extends "base.html" %}
{% load thumbnail %}
{% block content %}

    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <main id="body">
                        <div><h3><a href='/profile'>{{ user }}</a></h3>
                            {% if user.is_authenticated %}
                            
                            <h3>Library</h3>
                            <h3>Albums</h3>
                            <div class='albums'>
                            {% for album in user.albums.all %}
                            <div class='grid'>
                            <h4>{{ album.title }}</h4>
                            {% if album.cover %}
                                {% thumbnail album.cover.image "300x300" as image %}
                                <a href="{% url 'album' album.id %}"><img src="{{ image.url }}"></a>
                                {% endthumbnail %}

                            {% else %}
                            <p>You don't have any photo</p>
                            <img src='/static/img/is.jpg' height='180' width='180'>
                            {% endif %}
                            
                            </div>
                            {% endfor %}

                            <p><h3>Photos<h3></P>

                            {% for photo in user.photos.all %}

                            <div class='grid'>
                            <h3 class='photo_title'>{{ photo.title }}</h3>
                            {% thumbnail photo.image "180x180" as image %}
                            <a href="{% url 'photo' photo.id %}"><img src='{{ MEDIA_ROOT }}{{ image.url }}'/></a>
                            {% endthumbnail %}
                            </div>
                            {% endfor %}


                            {% endif %}

                                    </main>

                                </div>
                            </div><!-- /row -->
                        </div> <!-- /container -->
                    </div><!-- /ww -->

    <!-- +++++ Projects Section +++++ -->
<!-- Display photo placeholders, will be uncommented when we figure out what to put there -->
<!--    <div class="container pt">
        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port01.jpg" alt="" /></a>
                <p>APE</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port02.jpg" alt="" /></a>
                <p>RAIDERS</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt="" /></a>
                <p>VIKINGS</p> -->
<!--            </div> -->
        <!-- </div> --><!-- /row -->
<!--        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port04.jpg" alt="" /></a>
                <p>YODA</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port05.jpg" alt="" /></a>
                <p>EMPERORS</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port06.jpg" alt="" /></a>
                <p>CHIEFS</p>
            </div> -->
        <!-- </div> --><!-- /row -->
    <!-- </div> --><!-- /container -->


    <!-- +++++ Footer Section +++++ -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}