{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/layout.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Home</title>
</head>
<body>
    <header id="header">
    {% block header %}
    {% endblock %}
    </header>
    <main id="content">
    {% block content %}<p>hello</p>{% endblock %}
    </main>
    <footer id="footer">
    </footer>
</body>
</html>