{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<!-- <html lang="en">
	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<main id="body">
        {% if photo %}
        <img src="{{ MEDIA_ROOT }}{{ photo.image.url }}" alt="">
        {% else %}
        <img src="http://www.live2agewell.com/images/MoleRats.jpg" alt="">
        {% endif %}
        <h4>Django Imager lets you share and manage your photos effortlessly</h4>
        <p>You can create and customize your imager profile with your favorite photos. Now sharing your photos with your friends and family is just a click away.</p>
        {% if not user.is_authenticated %}
            <p><a href="{% url 'registration_register' %}">Join Us Now</a></p>
        {% endif %}
    </main>
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->


    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}
