{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
    <link rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.0/sweetalert.min.css"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script type="text/javascript" src="//algorithmia.com/v1/clients/js/algorithmia-0.2.0.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.0.1/sweetalert-dev.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <main id="body">
                        <div><h2>{{ user }}</h2>
                            {% if user.is_authenticated %}

                            <h3>{{ photo.title}}</h3>

                            
                            <div class='grid'>
                            
                                {% thumbnail photo.image "600x600" as image %}
                                <img src="{{ image.url }}">
                                {% endthumbnail %}

                            <!-- <p>No photo...</p>
                            <img src='/static/img/is.jpg' height='180' width='180'> -->
                            <div class='info'>
                            <p>{{ photo.description }}</p>
                            <div>
                                
                                    {% if not faces %}
                                      <a href="{% url 'detect_faces' object.id %}"><button>Detect Faces</button></a>
                                    {% endif %}
                                      <script type="text/javascript">
                            FaceTagger.init({
                              container: '#photo-container',
                              labelUrl: '{% url "edit_face" object.id %}',
                              csrf: '{{ csrf_token }}',
                              originalWidth: {{ object.image.width }},
                              originalHeight: {{ object.image.height }},
                            newWidth: $("#photo-container img").width(),
                            newHeight: $("#photo-container img").height()
                            });
                            {% for f in faces %}
                              var face = {
                                id: {{ f.id }},
                                name: "{{ f.name }}",
                                x: {{ f.x }},
                                y: {{ f.y }},
                                width: {{ f.width }},
                                height: {{ f.height }}
                              };
                              FaceTagger.make(face);
                            {% endfor %}
                            </script>
                        </div>
                            <p><strong>Created:</strong> {{ photo.date_created|date:"D d M Y" }}</p>
                            <p><strong>Modified:</strong> {{ photo.date_modified|date:"D d M Y" }}</p>
                            <p><strong>Published:</strong> {{ photo.date_published|date:"D d M Y" }}</p>
                            <p>This photo is: {{ photo.published }}</p>
                            </div>
                            </div>
                            


                            {% endif %}
                    </main>
                </div><!-- /col-lg-8 -->
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /ww -->

    <!-- +++++ Projects Section +++++ -->
<!-- Display photo placeholders, will be uncommented when we figure out what to put there -->
<!--    <div class="container pt">
        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port01.jpg" alt="" /></a>
                <p>APE</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port02.jpg" alt="" /></a>
                <p>RAIDERS</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt="" /></a>
                <p>VIKINGS</p> -->
<!--            </div> -->
        <!-- </div> --><!-- /row -->
<!--        <div class="row mt centered">
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port04.jpg" alt="" /></a>
                <p>YODA</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port05.jpg" alt="" /></a>
                <p>EMPERORS</p>
            </div>
            <div class="col-lg-4">
                <a class="zoom green" href="work01.html"><img class="img-responsive" src="assets/img/portfolio/port06.jpg" alt="" /></a>
                <p>CHIEFS</p>
            </div> -->
        <!-- </div> --><!-- /row -->
    <!-- </div> --><!-- /container -->


    <!-- +++++ Footer Section +++++ -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% endblock %}